<mat-toolbar color="primary" class="fixed-header">
    <span>Birreria5F</span>
    <span class="spacer"></span>
    <a mat-flat-button color="primary" routerLink="/" routerLinkActive="router-link-active" ariaCurrentWhenActive="page">Home</a>
    <a mat-flat-button routerLink="/chisiamo" routerLinkActive="router-link-active">Chi siamo</a>
    <a mat-flat-button routerLink="/catalogo" routerLinkActive="router-link-active">Catalogo</a>
    <a mat-flat-button routerLink="/contatti" routerLinkActive="router-link-active">Contatti</a>
  </mat-toolbar>  
